<nav class="navbar fixed-top navbar-expand-lg navbar-bark cyan scrolling-navbar" style="justify-content: center; min-height: 90px;">
  <a class="navbar-brand" href="/"><strong>Câmara dos Deputados</strong></a>
</nav>